<%= content_for :resource do %>
    <div class="main_bd">
      <div class="sub_title_bar">
        <a href="javascript:void(0);" class="btn btn_add btn_new"><i class="icon14_common add_white"></i>新建语音</a>
      </div>
      <div class="media_list group voice_media">
        <!-- 单个语音-->
        <div class="msg_card audio_msg_card media_card mini no_opr_border">
          <div class="msg_card_inner">
            <div class="msg_card_bd">
              <div class="audio_msg_wrp card file_wrp cover">
                <div class="audio_msg">
                  <div class="icon_audio_wrp">
                    <span class="icon_audio_msg"></span>
                  </div>
                  <div class="audio_content">
                    <div class="audio_title">音乐名称</div>
                    <div class="audio_length">03:01</div>
                    <div class="audio_date">创建于：星期五 09:47</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="msg_card_ft">
              <ul class="grid_line msg_card_opr_list">
                <li class="grid_item size1of3 msg_card_opr_item">
                  <a href="javascript:void(0);" class="msg_card_opr_item_inner">&nbsp;<i class="icon18 download_gray">下载</i></a>
                </li>
                <li class="grid_item size1of3 msg_card_opr_item">
                  <a href="javascript:void(0);" class="msg_card_opr_item_inner">&nbsp;<i class="icon18 edit_gray">编辑</i></a>
                </li>
                <li class="grid_item size1of3 msg_card_opr_item">
                  <a href="javascript:void(0);" class="msg_card_opr_item_inner">&nbsp;<i class="icon18 del_gray">删除</i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- 单个语音结束-->
        <!-- 单个语音-->
        <div class="msg_card audio_msg_card media_card mini no_opr_border">
          <div class="msg_card_inner">
            <div class="msg_card_bd">
              <div class="audio_msg_wrp card file_wrp cover">
                <div class="audio_msg">
                  <div class="icon_audio_wrp">
                    <span class="icon_audio_msg"></span>
                  </div>
                  <div class="audio_content">
                    <div class="audio_title">音乐名称</div>
                    <div class="audio_length">03:01</div>
                    <div class="audio_date">创建于：星期五 09:47</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="msg_card_ft">
              <ul class="grid_line msg_card_opr_list">
                <li class="grid_item size1of3 msg_card_opr_item">
                  <a href="javascript:void(0);" class="msg_card_opr_item_inner">&nbsp;<i class="icon18 download_gray">下载</i></a>
                </li>
                <li class="grid_item size1of3 msg_card_opr_item">
                  <a href="javascript:void(0);" class="msg_card_opr_item_inner">&nbsp;<i class="icon18 edit_gray">编辑</i></a>
                </li>
                <li class="grid_item size1of3 msg_card_opr_item">
                  <a href="javascript:void(0);" class="msg_card_opr_item_inner">&nbsp;<i class="icon18 del_gray">删除</i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- 单个语音结束-->
      </div>
    </div>
<% end %>
