<%= content_for :resource do %>
    <div class="main_bd">
      <div class="sub_title_bar">
        <div class="info">
          <h3>视频列表(共<span>2</span>条)</h3>
        </div>
        <a href="javascript:void(0);" class="btn btn_add btn_new"><i class="icon14_common add_white"></i>新建视频</a>
      </div>
      <div class="appmsg_list video_appmsg_list">
        <div class="appmsg_col tj_item">
          <div class="inner">
            <div class="richvideo">
              <div class="richvideo_content">
                <h4 class="title">标题</h4>
                <div class="video_info">
                  <em class="time">09:23</em>
                </div>
                <div class="video_extra_info"><img class="video_thumb" src="images/library/1.jpg" alt=""/>
                  <span class="video_length">03:03</span>
                </div>
                <div class="video_desc">简介</div>
              </div>
              <div class="richvideo_opr">
                <ul>
                  <li class="richvideo_opr_item size1of2">
                    <a href="javascript:void(0);">&nbsp;<i class="icon18 edit_gray">编辑</i></a>
                  </li>
                  <li class="richvideo_opr_item size1of2 no_extra">
                    <a href="javascript:void(0);">&nbsp;<i class="icon18 del_gray">删除</i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="appmsg_col tj_item">
          <div class="inner">
            <div class="richvideo">
              <div class="richvideo_content">
                <h4 class="title">标题</h4>
                <div class="video_info">
                  <em class="time">09:23</em>
                </div>
                <div class="video_extra_info"><img class="video_thumb" src="images/library/1.jpg" alt=""/>
                  <span class="video_length">03:03</span>
                </div>
                <div class="video_desc">简介</div>
              </div>
              <div class="richvideo_opr">
                <ul>
                  <li class="richvideo_opr_item size1of2">
                    <a href="javascript:void(0);">&nbsp;<i class="icon18 edit_gray">编辑</i></a>
                  </li>
                  <li class="richvideo_opr_item size1of2 no_extra">
                    <a href="javascript:void(0);">&nbsp;<i class="icon18 del_gray">删除</i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
