<div class="col_main">
<div class="main">
  <div class="main_hd">
    <h2>公众号管理</h2>
  </div>
  <div class="main_bd">
    <div class="highlight_box">
      <div class="icon_wrap icon_add"></div>
      <div class="txt"><h2>添加公众号</h2>
        <p>通过填写公众号信息轻松实现管理系统对粉丝信息的获取和自定义菜单的配置。系统自动生成微信公众账号接口配置参数（接口URL和接口Token）</p>
      </div>
    </div>
    <div>
      <%= render 'form' %>
    </div>
  </div>
</div>
</div>