@charset "UTF-8";
/* 公共样式 */
/* line 4, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
html, body, table, th, tr, td, div, span, input, select, textarea, ul, li, dl, ol, dt, dd, form, p, hr, img, h1, h2, h3, h4, h5, h6, h7 {
  padding: 0;
  margin: 0;
}

/* line 8, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
strong {
  font-weight: normal;
}

/* line 10, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
ul, li {
  list-style: none;
}

/* line 11, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
li {
  display: list-item;
  text-align: -webkit-match-parent;
}

/* line 13, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
img {
  border: 0;
  vertical-align: bottom;
}

/* line 17, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
input textarea {
  resize: none;
  outline: none;
}

/* line 18, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
html {
  height: 100%;
  padding: 0;
  margin: 0;
}

/* line 19, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
body {
  font-size: 14px;
  background: #e7e8eb;
  color: #222222;
  width: 100%;
  min-width: 1200px;
  overflow: auto;
  font-family: Microsoft Yahei, Arial, Helvetica, sans-serif;
}

/* line 28, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
i {
  font-style: italic;
}

/* line 29, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
a {
  text-decoration: none;
  outline: none;
}

/* line 30, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
button, input {
  outline: none;
}

/* line 31, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
  padding: 0;
}

/* for firefox Button Bug*/
/* line 32, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 33, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.clearfix {
  display: inline-table;
}

/* line 34, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
* html .clearfix {
  height: 1%;
}

/* line 35, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.clearfix {
  display: block;
}

/* line 36, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
form {
  display: block;
  margin-top: 0em;
}

/* line 40, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.hide {
  display: none;
}

/* line 43, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
input, select {
  color: #222;
}

/* line 46, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.fl {
  float: left;
}

/*头部*/
/* line 49, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.top {
  height: 65px;
  width: 100%;
}

/* line 53, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.headbox {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #d9dadc;
  border-top: 4px solid #44b549;
  background: #fff;
  margin: 0;
}

/* line 61, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.head {
  width: 1200px;
  height: 60px;
  margin: 0 auto;
}

/* line 66, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.headlogo {
  float: left;
  width: 345px;
  padding: 10px;
}

/* line 71, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.headlogo img {
  display: block;
  max-width: 100%;
}

/* line 75, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.headToolbar {
  float: right;
  width: auto;
  padding-top: 20px;
}

/* line 80, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.headToolbar [class*="icon-"] {
  position: relative;
  float: right;
  display: inline-block;
  background-repeat: no-repeat;
}

/* line 86, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.headToolbar .icon-msg {
  width: 22px;
  height: 15px;
  background-image: url(/assets/mes-ea5bc644a65e10b01c6304a5512951b7c6645062382d4f8b155d32178d25a827.png);
  display: inline;
  margin: 0 10px 0 20px;
  margin-top: 8px;
}

/* line 94, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.headToolbar .icon-user {
  height: 28px;
  padding-top: 5px;
  background-image: url(/assets/user-ea6672a7397866062f7aa5bb7e32c95f0ae34f7119dd568c42b3304eeae684d0.png);
  padding-left: 38px;
  color: #222;
}

/* line 102, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.headToolbar .icon-quit {
  height: 20px;
  padding: 0 10px;
  border-left: 1px solid #d0d0d0;
  color: #222;
  margin-top: 4px;
}

/* line 109, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.dropmenu {
  position: absolute;
  z-index: 1050;
  width: auto;
  top: 40px;
  right: 0;
  border: 1px solid #d9dadc;
  display: none;
}

/* line 118, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.dropmenu li {
  height: 40px;
  line-height: 40px;
  padding-left: 5px;
  background: #fff;
}

/* line 124, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.dropmenu li:hover {
  background: #d7d7d7;
}

/* line 127, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
#body {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 88px;
  margin-top: 36px;
  background: #fff;
  border: 1px solid #d9dadc;
}

/*菜单*/
/* line 136, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.col_side, .col_main {
  font-family: Microsoft Yahei, Arial, Helvetica, sans-serif;
  display: table-cell;
  vertical-align: top;
  word-wrap: break-word;
  word-break: break-all;
}

/* line 143, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.col_side {
  background: #fff;
  height: 100%;
  width: 208px;
  overflow-x: hidden;
  border-right: 1px solid #e7e7eb;
}

/* line 150, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.col_main {
  width: 990px;
  padding-bottom: 150px;
}

/* line 154, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.menu_box {
  margin-bottom: 150px;
  background: #fff;
  width: 209px;
  display: block;
}

/* line 160, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
em {
  font-style: normal;
}

/* line 163, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
dl {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

/* line 170, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
dt {
  display: block;
}

/* line 173, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
dd {
  display: block;
}

/* line 176, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.menu {
  background: url(/assets/menu_line-060291e872e3548040fe8ff3e9d1c52efff5b3d4c3b5bcab632039ce223784f5.gif) no-repeat center bottom;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

/* line 181, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.menu:last-child {
  background: 0;
}

/* line 184, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.no_extra {
  margin-top: 13px;
  border-top-width: 0;
}

/* line 188, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.menu_box_sub h2 {
  font-size: 14px;
  font-weight: normal;
  padding-left: 58px;
  line-height: 46px;
  background: #f4f5f9;
  color: #8d8d8d;
}

/* line 196, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.menu_title {
  position: relative;
  padding: 5px 30px;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  line-height: 30px;
  color: #8d8d8d;
  margin-bottom: 0;
}

/* line 208, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.icon_menu {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 10px;
  margin-top: -0.2em;
}

/* line 216, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.icon1 {
  background: url(/assets/icon_01-aaed77a5f324a7d662898b9d00d726b2b9f77821015b65887baea7b0ffb06334.png) no-repeat;
}

/* line 219, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.icon2 {
  background: url(/assets/icon_02-fb5358263bf8785dd0fc2358376cd44cc0dbe11cae6abf79f2e1c5eba466f602.png) no-repeat;
}

/* line 222, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.icon3 {
  background: url(/assets/icon_03-6dacd5a6e2d9d6625824034e899e1c35e18be6401ed811e3648ced6295bda478.png) no-repeat;
}

/* line 225, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.icon4 {
  background: url(/assets/icon_04-34500e714dab7330db72fd9f1e1af000983c64d5d242c93df0da1435f8cdc84d.png) no-repeat;
}

/* line 228, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.menu_item {
  line-height: 34px;
}

/* line 231, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.menu_item a {
  display: block;
  padding: 0 0 0 58px;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  color: #222;
}

/* line 241, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.menu_item a:hover {
  background: #f4f5f9;
}

/* line 245, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
a {
  color: #459ae9;
  text-decoration: none;
}

/* line 249, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.menu_item.selected a {
  background-color: #44b549;
  color: #fff;
}

/*公共底部*/
/* line 254, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.foot {
  width: 100%;
  height: 67px;
}

/* line 258, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.footer {
  background: #b8b9b9;
  width: 100%;
  height: 67px;
  line-height: 67px;
  text-align: center;
  color: #fff;
}

/*遮罩*/
/* line 267, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.black_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.6;
  opacity: .6;
  filter: alpha(opacity=60);
}

/*弹出层*/
/* line 280, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.edit-credentials {
  position: fixed;
  z-index: 1002;
  left: 50%;
  top: 50%;
  width: 846px;
  height: 580px;
  margin-top: -290px;
  margin-left: -423px;
}

/* line 290, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.close {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: inline;
  z-index: 3200;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #9e9fa1;
  font-size: 30px;
  font-weight: bold;
}

/* line 304, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.close:hover {
  color: #7d7d7d;
}

/*翻页*/
/* line 308, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.pagination {
  text-align: right;
  padding: 0 16px;
}

/* line 312, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.page_nav_area {
  letter-spacing: 4px;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
}

/* line 318, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.page_prev, .page_next {
  position: relative;
  font-size: 0;
  letter-spacing: -5px;
  background-color: #fff;
  background-image: linear-gradient(to bottom, #fff 0, #fff 100%);
  border-color: #e6e7ec;
  color: #222;
  height: 30px;
  line-height: 30px;
  width: auto;
  padding-left: 14px;
  padding-right: 14px;
}

/* line 332, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.pagination .btn {
  width: auto;
  min-width: 0px;
  display: inline-block;
  overflow: visible;
  padding: 0 16px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px;
  background: #fff;
  border: 1px solid #e7e7eb;
  color: #222;
}

/* line 347, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.pagination .btn:hover {
  background: #e7e7eb;
}

/* line 348, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.page_prev .arrow, .page_next .arrow {
  position: absolute;
  top: 16px;
  left: 16px;
  margin-top: -6px;
  margin-left: -3px;
}

/* line 355, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.page_next .arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-width: 6px;
  border-style: dashed;
  border-color: transparent;
  border-right-width: 0;
  border-left-color: #919191;
  border-left-style: solid;
}

/* line 366, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.page_prev .arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-width: 6px;
  border-style: dashed;
  border-color: transparent;
  border-left-width: 0;
  border-right-color: #919191;
  border-right-style: solid;
}

/* line 377, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.page_num {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  letter-spacing: normal;
  padding: 0 10px;
}

/* line 384, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.goto_area {
  margin-left: 8px;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
}

/* line 390, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.goto_area input[type="text"] {
  vertical-align: middle;
  width: 75px;
  height: 22px;
  line-height: 22px;
  padding: 4px 0;
  border: 1px solid #e7e7eb;
  text-align: center;
  font-size: 14px;
  margin-right: 4px;
  border-radius: 3px;
}

/* line 402, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
.page_go {
  background-image: linear-gradient(to bottom, #fff 0, #fff 100%);
  border-color: #e6e7ec;
  color: #222;
  height: 30px;
  line-height: 30px;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* line 412, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
}

/* line 418, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

/* line 423, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

/* line 428, /home/chuliang/work/wxoss/app/assets/stylesheets/css.css.scss */
td, th {
  display: table-cell;
  vertical-align: inherit;
}
