/* line 1, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.dn {
  display: none;
}

/* line 5, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.di {
  display: inline;
}

/* line 9, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.dib {
  display: inline-block;
}

/* line 13, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.b_dib {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 19, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.db {
  display: block;
}

/* line 23, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.cell {
  display: table-cell;
}

/* line 27, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.vh {
  visibility: hidden;
}

/* line 31, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.vv {
  visibility: visible;
}

/* line 35, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.static {
  position: static;
}

/* line 39, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.rel {
  position: relative;
}

/* line 43, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.abs {
  position: absolute;
}

/* line 47, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.oh {
  overflow: hidden;
}

/* line 51, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.z {
  *zoom: 1;
}

/* line 55, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.l {
  float: left;
}

/* line 59, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.r {
  float: right;
}

/* line 63, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.fn {
  float: none;
}

/* line 67, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.cl {
  clear: both;
}

/* line 71, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.tc {
  text-align: center;
}

/* line 75, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.tr {
  text-align: right;
}

/* line 79, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.tl {
  text-align: left;
}

/* line 83, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.tj, .tj_simple {
  text-align: justify;
  text-justify: distribute-all-lines;
  text-align-last: justify;
  font-size: 0;
}

/* line 90, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.tj:after {
  content: ".";
  display: inline-block;
  width: 100%;
  height: 0;
  font-size: 0;
  overflow: hidden;
}

/* line 99, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.tj_simple .last_child {
  width: 100%;
  height: 0;
  font-size: 0;
  overflow: hidden;
}

/* line 106, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.tj .tj_item, .tj_simple .tj_item {
  font-size: 14px;
  text-align: left;
  text-justify: auto;
}

/* line 112, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.vt {
  vertical-align: top;
}

/* line 116, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.vm {
  vertical-align: middle;
}

/* line 120, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.vb {
  vertical-align: bottom;
}

/* line 124, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.f0 {
  font-size: 0;
}

/* line 128, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.fa {
  font-family: Arial;
}

/* line 132, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.fs {
  font-family: SimSun;
}

/* line 136, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.fyh {
  font-family: "Microsoft YaHei";
}

/* line 140, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.indent {
  text-indent: 2em;
}

/* line 144, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.n {
  font-weight: 400;
  font-style: normal;
}

/* line 149, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.b {
  font-weight: 700;
}

/* line 153, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.i {
  font-style: italic;
}

/* line 157, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.tdn {
  text-decoration: none;
}

/* line 161, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.tdn:hover {
  text-decoration: none;
}

/* line 165, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.del {
  text-decoration: line-through;
}

/* line 169, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.poi {
  cursor: pointer;
}

/* line 173, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.group {
  *zoom: 1;
}

/* line 177, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.group:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both;
}

/* line 184, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.clearfix {
  *zoom: 1;
}

/* line 188, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}

/* line 193, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.clearfix:after {
  clear: both;
}

/* line 197, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.text_hide {
  line-height: 999em;
  overflow: hidden;
}

/* line 202, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.text_overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 208, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.drop_hl_extra {
  padding-left: 999em;
  margin-left: -999em;
}

/* line 213, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.drop_vb_extra {
  padding-bottom: 999em;
  margin-bottom: -999em;
}

/* line 218, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.prg {
  margin-bottom: 1em;
}

/* line 222, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.tips_global {
  color: #8d8d8d;
}

/* line 226, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.text_global {
  color: #222;
}

/* line 230, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.link_global {
  color: #459ae9;
  cursor: pointer;
}

/* line 235, /home/chuliang/work/wxoss/app/assets/stylesheets/lib.css.scss */
.link_global.tail_link {
  margin-left: 1em;
}
