<%= content_for :css do %>
    <%= stylesheet_link_tag 'master', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<h2>new page.....</h2>
<%= render 'form' %>

<!-- <div class="col_main">
<div class="main"> 
<div class="main_hd">
  <h2>自动回复new</h2>
  <div class="id_wechat">亚信WIFI<a href="javascript:void(0)" class="replace">切换公众号</a></div>
</div>
	
</div>
</div> -->