/* line 1, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/img_preview.css.scss */
.preview_mask {
  filter: alpha(opacity=92);
  -moz-opacity: .92;
  -khtml-opacity: .92;
  opacity: 0.92;
}

/* line 8, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/img_preview.css.scss */
.img_preview_container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  text-align: center;
  z-index: 10000;
  *height: 100%;
}

/* line 20, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/img_preview.css.scss */
.img_preview_container .img_preview_inner {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 80%;
  height: 600px;
  vertical-align: middle;
  font-size: 0;
}

/* line 30, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/img_preview.css.scss */
.img_preview_container .img_preview_wrp {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  max-width: 98%;
}

/* line 37, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/img_preview.css.scss */
.img_preview_container .img_preview_wrp img {
  vertical-align: top;
  min-width: 50px;
  min-height: 50px;
  max-width: 100%;
  max-height: 600px;
  background-color: #f4f5f9;
}

/* line 46, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/img_preview.css.scss */
.img_preview_container .img_preview_opr_container {
  position: fixed;
  bottom: 100px;
  left: 0;
  right: 0;
}

/* line 53, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/img_preview.css.scss */
.img_preview_container .img_preview_opr_list {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background: rgba(255, 255, 255, 0.3) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#4dffffff', endcolorstr='#4dffffff');
  border-radius: 45px;
  -moz-border-radius: 45px;
  -webkit-border-radius: 45px;
  padding: 14px 4px;
  line-height: 32px;
}

/* line 66, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/img_preview.css.scss */
.img_preview_container .img_preview_opr_item {
  float: left;
  border-left: 1px solid #5c5c5c;
}

/* line 71, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/img_preview.css.scss */
.img_preview_container .img_preview_opr_item:first-child {
  border-left-width: 0;
}

/* line 75, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/img_preview.css.scss */
.img_preview_container .img_preview_opr_item a {
  display: block;
  padding: 0 32px;
  line-height: 28px;
  height: 28px;
  color: #fff;
}

/* line 83, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/img_preview.css.scss */
.img_preview_container .img_preview_opr_item a:hover {
  text-decoration: none;
}

/* line 87, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/img_preview.css.scss */
.img_preview_close {
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#66000000', endcolorstr='#66000000');
  padding: 8px;
}

/* line 96, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/img_preview.css.scss */
.icon_img_preview_close {
  background: url(/assets/htmledition/img_preview_z218878-da415dd97611c227ce3f83af5414be4f35b8442c68040e9f28c03e702467af6b.png) 0 0 no-repeat;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  display: inline-block;
  line-height: 100px;
  overflow: hidden;
}

/* line 106, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/img_preview.css.scss */
a:hover .icon_img_preview_close {
  background: url(/assets/htmledition/img_preview_z218878-da415dd97611c227ce3f83af5414be4f35b8442c68040e9f28c03e702467af6b.png) 0 -26px no-repeat;
}

/* line 110, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/img_preview.css.scss */
.icon_img_preview {
  width: 28px;
  height: 28px;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  line-height: 100px;
  vertical-align: top;
}

/* line 120, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/img_preview.css.scss */
.icon_img_preview.prev {
  background: url(/assets/htmledition/img_preview_z218878-da415dd97611c227ce3f83af5414be4f35b8442c68040e9f28c03e702467af6b.png) 0 -52px no-repeat;
}

/* line 124, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/img_preview.css.scss */
a:hover .icon_img_preview.prev {
  background: url(/assets/htmledition/img_preview_z218878-da415dd97611c227ce3f83af5414be4f35b8442c68040e9f28c03e702467af6b.png) 0 -90px no-repeat;
}

/* line 128, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/img_preview.css.scss */
.prev_disabled a:hover .icon_img_preview.prev {
  background: url(/assets/htmledition/img_preview_z218878-da415dd97611c227ce3f83af5414be4f35b8442c68040e9f28c03e702467af6b.png) 0 -128px no-repeat;
}

/* line 132, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/img_preview.css.scss */
.prev_disabled .icon_img_preview.prev {
  background: url(/assets/htmledition/img_preview_z218878-da415dd97611c227ce3f83af5414be4f35b8442c68040e9f28c03e702467af6b.png) 0 -166px no-repeat;
}

/* line 136, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/img_preview.css.scss */
.icon_img_preview.next {
  background: url(/assets/htmledition/img_preview_z218878-da415dd97611c227ce3f83af5414be4f35b8442c68040e9f28c03e702467af6b.png) 0 -204px no-repeat;
}

/* line 140, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/img_preview.css.scss */
a:hover .icon_img_preview.next {
  background: url(/assets/htmledition/img_preview_z218878-da415dd97611c227ce3f83af5414be4f35b8442c68040e9f28c03e702467af6b.png) 0 -242px no-repeat;
}

/* line 144, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/img_preview.css.scss */
.next_disabled a:hover .icon_img_preview.next {
  background: url(/assets/htmledition/img_preview_z218878-da415dd97611c227ce3f83af5414be4f35b8442c68040e9f28c03e702467af6b.png) 0 -280px no-repeat;
}

/* line 148, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/img_preview.css.scss */
.next_disabled .icon_img_preview.next {
  background: url(/assets/htmledition/img_preview_z218878-da415dd97611c227ce3f83af5414be4f35b8442c68040e9f28c03e702467af6b.png) 0 -318px no-repeat;
}

/* line 152, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/img_preview.css.scss */
.icon_img_preview.origin {
  background: url(/assets/htmledition/img_preview_z218878-da415dd97611c227ce3f83af5414be4f35b8442c68040e9f28c03e702467af6b.png) 0 -356px no-repeat;
}

/* line 156, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/img_preview.css.scss */
a:hover .icon_img_preview.origin {
  background: url(/assets/htmledition/img_preview_z218878-da415dd97611c227ce3f83af5414be4f35b8442c68040e9f28c03e702467af6b.png) 0 -394px no-repeat;
}

/* line 160, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/img_preview.css.scss */
.icon_img_preview.download {
  background: url(/assets/htmledition/img_preview_z218878-da415dd97611c227ce3f83af5414be4f35b8442c68040e9f28c03e702467af6b.png) 0 -432px no-repeat;
}

/* line 164, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/img_preview.css.scss */
a:hover .icon_img_preview.download {
  background: url(/assets/htmledition/img_preview_z218878-da415dd97611c227ce3f83af5414be4f35b8442c68040e9f28c03e702467af6b.png) 0 -470px no-repeat;
}
