.webuploader-container {
  position: relative;
}
.webuploader-element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px,1px,1px,1px);
  opacity: 0;
}
#filePicker .webuploader-pick{
  position: relative;
  display: inline-block;
  cursor: pointer;
  background: #fff;
  border: 1px solid #e7e7eb;
  color: #222;
  padding: 8px 22px;;
  text-align: center;
  border-radius: 3px;
  overflow: visible;
}
#filePicker .webuploader-pick-hover {
  background: #e7e7eb;
}