/* line 1, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
.icon_appmsg_create {
  background: url(/assets/htmledition/media_dialog_z27dcd8-3d1d021009faf1346ba5998498d03baa2620fb3a2dae590666ce9bfbad84ee5c.png) 0 0 no-repeat;
  width: 38px;
  height: 38px;
  vertical-align: middle;
  display: inline-block;
}

/* line 9, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
a:hover .icon_appmsg_create {
  background: url(/assets/htmledition/media_dialog_z27dcd8-3d1d021009faf1346ba5998498d03baa2620fb3a2dae590666ce9bfbad84ee5c.png) 0 -48px no-repeat;
}

/* line 13, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
.icon_appmsg_create.multi {
  background: url(/assets/htmledition/media_dialog_z27dcd8-3d1d021009faf1346ba5998498d03baa2620fb3a2dae590666ce9bfbad84ee5c.png) 0 -96px no-repeat;
}

/* line 17, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
a:hover .icon_appmsg_create.multi {
  background: url(/assets/htmledition/media_dialog_z27dcd8-3d1d021009faf1346ba5998498d03baa2620fb3a2dae590666ce9bfbad84ee5c.png) 0 -144px no-repeat;
}

/* line 21, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
.icon_shopmsg_create {
  background: url(/assets/htmledition/media_dialog_z27dcd8-3d1d021009faf1346ba5998498d03baa2620fb3a2dae590666ce9bfbad84ee5c.png) 0 -192px no-repeat;
  width: 38px;
  height: 38px;
  vertical-align: middle;
  display: inline-block;
}

/* line 29, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
a:hover .icon_shopmsg_create {
  background: url(/assets/htmledition/media_dialog_z27dcd8-3d1d021009faf1346ba5998498d03baa2620fb3a2dae590666ce9bfbad84ee5c.png) 0 -240px no-repeat;
}

/* line 33, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
.icon_shopmsg_create.multi {
  background: url(/assets/htmledition/media_dialog_z27dcd8-3d1d021009faf1346ba5998498d03baa2620fb3a2dae590666ce9bfbad84ee5c.png) 0 -288px no-repeat;
}

/* line 37, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
a:hover .icon_shopmsg_create.multi {
  background: url(/assets/htmledition/media_dialog_z27dcd8-3d1d021009faf1346ba5998498d03baa2620fb3a2dae590666ce9bfbad84ee5c.png) 0 -336px no-repeat;
}

/* line 41, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
.icon_appmsg_small {
  background: url(/assets/htmledition/media_dialog_z27dcd8-3d1d021009faf1346ba5998498d03baa2620fb3a2dae590666ce9bfbad84ee5c.png) 0 -384px no-repeat;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  display: inline-block;
}

/* line 49, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
a:hover .icon_appmsg_small {
  background: url(/assets/htmledition/media_dialog_z27dcd8-3d1d021009faf1346ba5998498d03baa2620fb3a2dae590666ce9bfbad84ee5c.png) 0 -412px no-repeat;
}

/* line 53, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
.icon_appmsg_small.multi {
  background: url(/assets/htmledition/media_dialog_z27dcd8-3d1d021009faf1346ba5998498d03baa2620fb3a2dae590666ce9bfbad84ee5c.png) 0 -440px no-repeat;
}

/* line 57, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
a:hover .icon_appmsg_small.multi {
  background: url(/assets/htmledition/media_dialog_z27dcd8-3d1d021009faf1346ba5998498d03baa2620fb3a2dae590666ce9bfbad84ee5c.png) 0 -468px no-repeat;
}

/* line 61, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
.icon_shopmsg_small {
  background: url(/assets/htmledition/media_dialog_z27dcd8-3d1d021009faf1346ba5998498d03baa2620fb3a2dae590666ce9bfbad84ee5c.png) 0 -496px no-repeat;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  display: inline-block;
}

/* line 69, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
a:hover .icon_shopmsg_small {
  background: url(/assets/htmledition/media_dialog_z27dcd8-3d1d021009faf1346ba5998498d03baa2620fb3a2dae590666ce9bfbad84ee5c.png) 0 -524px no-repeat;
}

/* line 73, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
.icon_shopmsg_small.multi {
  background: url(/assets/htmledition/media_dialog_z27dcd8-3d1d021009faf1346ba5998498d03baa2620fb3a2dae590666ce9bfbad84ee5c.png) 0 -552px no-repeat;
}

/* line 77, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
a:hover .icon_shopmsg_small.multi {
  background: url(/assets/htmledition/media_dialog_z27dcd8-3d1d021009faf1346ba5998498d03baa2620fb3a2dae590666ce9bfbad84ee5c.png) 0 -580px no-repeat;
}

/* line 81, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
.dialog_media_container {
  position: relative;
  height: 498px;
}

/* line 86, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
.dialog_media_container .icon_loading_small {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
}

/* line 94, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
.dialog_media_container.no_media {
  text-align: center;
}

/* line 98, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
.dialog_media_container .search_bar {
  float: left;
  line-height: 1.6;
  margin-top: 13px;
  *margin-top: 12px;
}

/* line 105, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
.dialog_media_container .sub_title_bar .upload_box {
  float: left;
  margin-top: 13px;
  *margin-top: 12px;
}

/* line 111, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
.dialog_media_container .icon_loading_small {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
}

/* line 119, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
.richvideo_create {
  zoom: 1;
}

/* line 123, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
.richvideo_create a {
  margin-left: 8px;
}

/* line 127, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
.richvideo_create i {
  cursor: pointer;
}

/* line 131, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
.appmsg_create {
  *padding-top: 10px;
  *padding-bottom: 10px;
}

/* line 136, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
.appmsg_create a {
  margin-left: 8px;
}

/* line 140, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
.no_media_wrp {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  text-align: center;
  width: 99%;
}

/* line 149, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
.no_media_wrp .tips {
  margin-bottom: 40px;
  color: #8d8d8d;
}

/* line 154, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
.no_media_wrp .btn.btn_upload {
  height: 30px;
  line-height: 30px;
  *line-height: 28px;
  padding-left: 36px;
  padding-right: 36px;
}

/* line 162, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
.no_media_wrp .upload_tips {
  display: block;
  margin-top: 5px;
  color: #8d8d8d;
}

/* line 168, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
.dialog_media_list {
  height: 420px;
  overflow-y: scroll;
  position: relative;
}

/* line 174, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
.dialog_media_list.img .media_item {
  min-height: 72px;
}

/* line 178, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
.dialog_media_list.img .media_info {
  margin-left: 140px;
}

/* line 182, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
.dialog_media_list.img .media_info .frm_radio_label {
  position: absolute;
  top: 0;
  left: -140px;
}

/* line 188, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
.dialog_media_list.img .media_content {
  position: absolute;
  top: 20px;
  left: 30px;
  padding-top: 0;
  margin-left: 0;
}

/* line 196, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
.dialog_media_list.img .media_name {
  display: block;
}

/* line 200, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
.dialog_media_list.img .media_time {
  position: absolute;
  top: 0;
  right: 0;
}

/* line 206, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
.dialog_media_list.img .media_size {
  float: none;
}

/* line 210, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
.dialog_media_list .media_item {
  position: relative;
  padding: 20px;
  border-bottom: 1px solid #e7e7eb;
  color: #8d8d8d;
}

/* line 217, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
.dialog_media_list .media_info {
  position: relative;
  min-height: 22px;
}

/* line 222, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
.dialog_media_list .media_content {
  padding-top: 8px;
  margin-left: 24px;
}

/* line 227, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
.dialog_media_list .media_name {
  display: inline-block;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: 400px;
  font-weight: 400;
  font-style: normal;
}

/* line 239, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
.dialog_media_list .media_size {
  position: absolute;
  right: 140px;
  top: 0;
}

/* line 245, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
.dialog_media_list .media_time {
  position: absolute;
  width: 130px;
  right: 0;
  top: 0;
  text-align: right;
}

/* line 253, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
.dialog_media_list .media_img img {
  max-width: 100px;
  max-height: 70px;
}

/* line 258, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
.pagination_wrp {
  background-color: #fff;
  padding: 25px 20px 0;
}

/* line 263, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
.appmsg_media_dialog {
  height: auto;
}

/* line 267, /home/chuliang/work/ruby/wxoss/app/assets/stylesheets/widget/media/media_dialog.css.scss */
.appmsg_media_dialog .dialog_media_inner {
  height: 453px;
  position: relative;
}
